.git
.codex
.devcontainer/.cache
**/.cache
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.ipynb_checkpoints
**/build
**/install
**/log
gazebo/client-*
gazebo/server-*
files_to_copy/jupyter_notebooks/gazebo/client-*
files_to_copy/jupyter_notebooks/gazebo/server-*
files_to_copy/jupyter_notebooks/gazebo/ogre.log
