/Desktop/roboty_mobilne/instrukcja 2/ROS_example/.ipynb_checkpoints/pub_example_1-checkpoint.ipynb
/Desktop/roboty_mobilne/instrukcja 5/.ipynb_checkpoints/plot_path-checkpoint.ipynb
/Desktop/roboty_mobilne/instrukcja 5/.ipynb_checkpoints/path_saver-checkpoint.ipynb
/Desktop/roboty_mobilne/instrukcja 5/.ipynb_checkpoints/angle_publisher-checkpoint.ipynb
/Desktop/roboty_mobilne/instrukcja 2/Python/.ipynb_checkpoints/Python wprowadzenie-checkpoint.ipynb
